__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.pytest_tmp/
.uv-cache/
.venv/
*.egg-info/
.tmp/
.local/
apps/portal_web/dist/
apps/portal_web/node_modules/
.DS_Store
documents/PCI_Express_Base_5.0r1.0-2019-05-22.pdf
build/
